<div class="container" style="padding:0px !important;">
  <h4>Jobs</h4>
  <ion-grid>
    <ion-row no-padding *ngFor="let item of jobTypes">
      <ion-col >
        <ion-card (click)="showJobType(item.type)">
          <ion-card-content>
            <p><b>{{ item.type }}</b></p>
            <p>{{ item.service }} </p>
            <button>
              Edit item
            </button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab slot="fixed">
    <button color="#EB5614">
      Add New &nbsp;
    </button>
  </ion-fab>
  </div>
