  <ion-toolbar>
    <br>
    <ion-title>
      <ion-button class="back" fill="outline" color="gray" (click)="goback()">Back</ion-button>
      <div class="img"><img class="muva" src="assets/classy orange and white muva.png" ></div>
    </ion-title>
    <p id="set"><b>Settings</b></p>
  </ion-toolbar>
  <ion-content>
    <div class="container" style="padding:0px !important;">
      <h4>{{jobtype}}</h4>
      <ion-grid>
        <ion-row>
          <ion-col >
            <ion-card>
              <ion-card-content>
                <p><b>Customer</b></p>
                <button id="size">
                  Text
                </button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col >
            <ion-card>
              <ion-card-content>
                <p><b>Phone</b></p>
                <button id="size">
                  Number
                </button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col >
            <ion-card>
              <ion-card-content>
                <p><b>Job Type</b></p>
                <button id="size">
                  Text
                </button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col >
            <ion-card>
              <ion-card-content>
                <p><b>Description</b></p>
                <button id="size">
                  Text
                </button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col >
            <ion-card>
              <ion-card-content>
                <p><b>Email</b></p>
                <button id="size">
                  Text
                </button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col >
            <ion-card>
              <ion-card-content>
                <p><b>Pickup Address</b></p>
                <button>
                  Alphanumeric
                </button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col >
            <ion-card>
              <ion-card-content>
                <p><b>Delivery Address</b></p>
                <button>
                  Alphanumeric
                </button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col >
            <ion-card>
              <ion-card-content>
                <p><b>Order</b></p>
                <button>
                  Alphanumeric
                </button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col >
            <ion-card>
              <ion-card-content>
                <p><b>Payment Method</b></p>
                <button id="size">
                  Text
                </button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col >
            <ion-card>
              <ion-card-content>
                <p><b>Delivery Instructions</b></p>
                <button>
                  Alphanumeric
                </button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col >
            <ion-card>
              <ion-card-content>
                <p><b>Cost</b></p>
                <button id="size">
                  Currency
                </button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col >
            <ion-card>
              <ion-card-content>
                <p><b>Delivery Cost</b></p>
                <button id="size">
                  Currency
                </button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-fab slot="fixed">
        <button color="#EB5614">
          Add Field &nbsp;
        </button>
      </ion-fab>
      </div>
  </ion-content>

