
.muva{
  position: absolute;
  height: 25px;
  width: 150px;
  top: 24%;
}

.img{
  display: flex;
  justify-content: center;
}

.back{
  text-transform: none;
  height: 19px;
  color: gray;
  width: 60px;
  top:23%;
  left: 5%;
  position: absolute;
  border-radius: 5px;
}
