<div class="container" style="padding:0px !important;">
  <ion-grid>
    <ion-row no-padding *ngFor="let item of jobs | filter:searchTerm">
      <ion-col >
        <ion-card>
          <ion-card-content>
            <p><b>#{{ item.jobid }}</b></p>
            <p id="time"> 00:00AM</p>
            <p><b>Customer:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </b>{{ item.customer }} </p>
            <p><b>Job Type:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </b>{{ item.jobtype }} </p>
            <ion-badge style="background-color: #CACECE;" slot="end">{{ item.status }}</ion-badge>
            <p><b>Instructions: &nbsp;</b>{{ item.instructions }}</p>
            <p id="courier">{{ item.courier }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

