.muva{
  position: absolute;
  height: 25px;
  width: 150px;
  top: 24%;
}

.img{
  display: flex;
  justify-content: center;
}
#seglabel{
  font-size: x-small;
}
ion-toolbar{
  ion-title{
    height: 105px;
  }
  .badge {
    position: absolute;
    right:1%;
    top: 70px;
    right:5%;
    font-size: small;
    height: 25px;
    width: 100px;
    ion-select{
      color:white;
      margin-top:-8px;
      margin-left:-20px;
    }
  }
  margin-bottom: -10px;
}
ion-col{
  line-height: 30px;
}
.back{
  text-transform: none;
  height: 19px;
  color: gray;
  width: 60px;
  top:23%;
  left: 5%;
  position: absolute;
  border-radius: 5px;
}
#courId{
  position: absolute;
  top: 18%;
  right: 5%;
  font-size: 12px;
}
.emp{
  position: absolute;
  top:70px;
  height: 25px;
  width: 140px;
  text-align: center;
  padding-top: 3px;
  left: 5%;
  border-radius: 5px;
}
ion-grid {
  padding:5%;
  padding-bottom: 15%;
}

ion-input{
  line-height: 10px;
  border-radius: 7px;
  background-color: rgb(240, 240, 240);
  color:black;
}
ion-fab{
  position: fixed;
  left:5%;
  right:5%;
  bottom: 5%;
  width: 90%;

  button{
    height: 40px;
    width: 100%;
    background-color:#EB5614;
    color:white;
    border-radius: 10px;
    ion-icon {
      position: absolute;
    }
  }
}
