ion-content {
  background-color: white;
}

h4 {
  padding-left: 20px;
  margin-bottom: 5px;
}
.group {
  position: absolute;
  right: 5%;
  padding-top: 10px;
  background-color: transparent;
}
#seglabel{
  position: absolute;
  font-size: x-small;
  bottom: -5px;
  font-weight: bold;
  text-transform: none;
}
ion-toolbar{
  box-shadow: none !important;
}
ion-segment{
  justify-content: center;
  --color-selected: #EB5614;
  color: #EB5614;
}
ion-searchbar{
  width: 60%;
  position: absolute;
  top:1px;
  right: 10%;
  transform:scale(0.68)
}
