<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="jobs">
      <ion-icon name="briefcase"></ion-icon>
      <ion-label>Jobs</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="couriers">
      <ion-icon name="bicycle"></ion-icon>
      <ion-label>Couriers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="map"></ion-icon>
      <ion-label>Maps</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history">
      <ion-icon name="timer"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
